@import './base.css';

/* 移除默认样式，让布局完全填充屏幕 */
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 链接样式 */
a {
  text-decoration: none;
  color: #36d399;
  transition: color 0.3s;
}

a:hover {
  color: #2db788;
}
